.loader-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #175c4c;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader-spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #175c4c;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
