.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.question-button {
  border: none;
  background-color: transparent;
  padding: 0;
  text-align: left;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
  width: 1050px;
}

.question-button:hover {
  background-color: #f5f5f5;
}

.question-button:focus {
  outline: none;
}

.question-button div {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 1050px;
  height: 150px;
}

#title {
  margin-top: 10px;
}
.question-button p {
  margin: 10px;
  margin-bottom: 0;
}

.question-button:focus div {
  border-color: slategray;
}

.question-button:focus div p {
  display: block;
}

.question-button:focus ~ .question-button div p {
  display: none;
}

.question-button:focus div:before {
  width: 150px;
  height: 150px;
  font-size: 20px;
  font-weight: bold;
  float: right;
  margin-top: -3px;
}

.question-button:before {
  font-size: 20px;
  font-weight: bold;
  float: right;
  margin-top: -3px;
}

.faq-wrapper {
  text-align: center;
  margin-top: 60;
}
#img {
  width: auto;
  height: 500px;
  margin-right: 40px;
}
.text-info {
  margin-left: 30px;
}
#info {
  margin-left: 250px;
}
