.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.4s ease-in;
}

.header-bg {
  backdrop-filter: blur(10px);
  margin: 10px;
  border-radius: 50px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px;
  transition: 0.4s;
  width: 98.9%;
}
.header .nav-navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.header .nav-menu a {
  color: #175c4c;
  font-size: 1.2rem;
  text-decoration: none;
}

.header .nav-navbar img {
  width: 300px;
  height: auto;
}

.header .nav-menu {
  display: flex;
}

.header .nav-navbar-item {
  padding: 1rem;
  padding-top: 1.5rem;
  font-weight: 600;
}

.nav-button {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #175c4c;
  color: #175c4c;
  font-size: 16px !important;
  font-weight: bold !important;
  padding: 10px 30px;
  transition: 0.3s !important;
}
.nav-button:hover {
  background-color: #175c4c;
  color: white;
}

.mr-auto {
  margin-left: auto !important;
}

.hamburger {
  display: none;
}
.entry2 {
  display: none;
}
@media screen and (max-width: 1080px) {
  .header {
    max-width: 100%;
  }
  .header-bg {
    backdrop-filter: blur(10px);
    transition: 0.3s;

    border-radius: 0px;
    margin: 0px;
  }
  .header .nav-navbar {
    max-width: 100%;
  }

  .hamburger {
    display: block;
    margin-left: auto !important;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 90vh;
    z-index: 1000;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
    display: block;

    backdrop-filter: blur(10px);
  }

  .nav-navbar-item {
    margin: 1.5rem 0;
  }

  .header .nav-navbar img {
    width: 300px;
    padding-right: 10px;
  }
  .entry {
    display: none;
  }
  .entry2 {
    display: block;
  }
  .header-bg2 {
    backdrop-filter: blur(10px);
    transition: 0.3s;
    border-radius: 0px;
    margin: 0px;
  }

  .nav-menu2 {
    backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-navbar-item2 {
    margin: 1.2rem 0;
    color: #175c4c;
    font-size: 20px;
    font-weight: 600;
  }
  .nav-navbar-item2 a {
    color: #175c4c;
    font-size: 1.2rem;
    text-decoration: none;
  }
}
/**/
